<div class="content">
  <div class="heading">
    <h3>Redemption Miles Calculator</h3>
    <div class="info">
      Get to know how may points you need to redeem a flight to the destination
      of your choice
    </div>
  </div>

  <form
    (ngSubmit)="searchForm.form.valid && getRouteData()"
    #searchForm="ngForm"
  >
    <div class="form">
      <mat-grid-list [cols]="columns$ | async" rowHeight="100px">
        <mat-grid-tile>
          <mat-form-field class="form-input" appearance="outline">
            <mat-label>Flying with</mat-label>
            <mat-select required [(ngModel)]="carrier" name="carrier">
              <mat-option value="KQ">Kenya Airways</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="form-input" appearance="outline">
            <mat-label>Origin</mat-label>
            <mat-select required [(ngModel)]="origin" name="origin">
              <mat-option
                *ngFor="let route of destinationData"
                [value]="route.name"
              >
                {{ route.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="form-input full-width" appearance="outline">
            <mat-label>Destination</mat-label>

            <mat-select
              class="mat-input-element mat-form-field-autofill-control ng-tns-c10-5 ng-pristine ng-invalid cdk-text-field-autofill-monitored ng-touched"
              required
              [(ngModel)]="destination"
              name="destination"
            >
              <mat-option
                *ngFor="let route of destinationData"
                [value]="route.name"
              >
                {{ route.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
      <div class="btn-wrapper">
        <button type="submit" mat-flat-button class="btn">Search</button>
      </div>
    </div>
  </form>

  <div *ngIf="showResult" class="route-title">
    <h6>
      {{ origin }}
      <mat-icon>flight_takeoff</mat-icon>
      {{ destination }}
    </h6>
  </div>

  <div class="flex-box cards-wrapper">
    <mat-card
      *ngIf="showResult"
      class="card"
      appearance="outlined"
      [@fadeInOut]
    >
      <mat-card-header>
        <mat-card-title>Economy Class</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="flex-box">
          <h4>Points to Redeem</h4>
          -
          <h4>{{ result.economyClassPoints }}</h4>
        </div>

        <a href="https://www.kenya-airways.com/" target="_blank">
          <button mat-flat-button class="btn">Search flight</button></a
        >
      </mat-card-content>
    </mat-card>

    <mat-card
      *ngIf="showResult"
      class="card"
      appearance="outlined"
      [@fadeInOut]
    >
      <mat-card-header>
        <mat-card-title>Business Class</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="flex-box">
          <h4>Points to Redeem</h4>
          -
          <h4>{{ result.businessClassPoints }}</h4>
        </div>

        <a href="https://www.kenya-airways.com/" target="_blank">
          <button mat-flat-button class="btn">Search flight</button></a
        >
      </mat-card-content>
    </mat-card>
  </div>

  <div>
    <a
      id="iuoql"
      href="https://drive.google.com/file/d/1h5K3-VdXDaGL_afJq2Ca7SzB6zYiHshU/view"
      title="AWARD FORM"
      download
      class="link-block"
      ><button mat-flat-button class="btn-link">Download Award form</button></a
    >
  </div>
</div>
